*{
    font-family: "Poppins", sans-serif;
}

.shop-banner {
    position: relative;
    background-color: #f5f5f5;
    background-image: url(./images//1.jpg);  /* Replace with the correct image path */
    background-size: cover;
    padding: 110px 0px 115px;
    margin-top: 6%;
    margin-bottom: 6%;
  }
  
  .shop-banner h3 {
    position: relative;
    font-size: 50px;
    line-height: 1.2em;
    margin-bottom: 0px;
    font-weight: 700 !important;
    letter-spacing: 0.1px;
  }
  
  .shop-banner .sale-percent {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #F28123;
  }
  
  .shop-banner .sale-percent span {
    position: relative;
    font-size: 24px;
    line-height: 1.1em;
    color: #051922;
    font-weight: 400;
    text-align: center;
    
    display: inline-block;
  }
  
 
  