.error-text svg {
  font-size: 90px !important;
  margin-bottom: 30px !important;
  color: #051922;
}

.error-text h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.error-text p {
  font-size: 15px;
  margin-bottom: 30px;
}

.full-height-section {
  margin-top: 9%;
  margin-bottom: 9%;
  width: 100%;
}

.full-height-tablecell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}