  .cart-banner {
      position: relative;
      padding: 20px 0;
      z-index: 0;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
  }

  .breadcrumb-section:after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: #07212e;
      z-index: -1;
      opacity: 0.8;
  }

  .breadcrumb-bg {
      background-size: cover;
      background-position: center;
      height: 451px;
  }

  .breadcrumb-text {
      position: relative;
      top: 27px;
      z-index: 2;
  }
  .breadcrumb-text p {
    color: #F28123;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 14px;
  }
  .breadcrumb-text h1 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    margin-top: 20px
  }