.contact-from-section {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  
  .form-title {
    margin-bottom: 25px;
  }
  
  .form-title h2 {
    font-weight: 700;
    line-height: 3.25rem;
    font-size: 25px;
  }
  
  .form-title p {
    font-size: 15px;
    line-height: 1.8;
  }
  
  .contact-form form p input[type=text],
  .contact-form form p input[type=tel],
  .contact-form form p input[type=email] {
    width: 49%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .contact-form form p textarea {
    border: 1px solid #ddd;
    padding: 15px;
    height: 200px;
    border-radius: 3px;
    width: 100%;
    resize: none;
  }
  
  .contact-form-wrap {
    background-color: #fbfbfb;
    padding: 45px 30px;
    border-radius: 5px;
  }
  
  .contact-form-box {
    padding-left: 40px;
    margin-bottom: 30px;
  }
  
  .contact-form-box h4 {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin-bottom: 10px;
  }
  
  .contact-form-box svg{
    position: absolute;
    left: -13%;
    color: #F28123 !important;
    top: 2px;
}
 
  
  .contact-form-box p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  
  
  #form_status span.loading {
    color: #333;
    background: #eee;
    border-radius: 3px;
    padding: 18px 0px;
  }
  
 
  #form_status .success {
    color: #fff;
    text-align: center;
    background: #2ecc71;
    border-radius: 3px;
    padding: 30px 0px;
  }
  
 
  
  #form_status .success h3 {
    color: #fff;
    margin-bottom: 10px;
  }
  .contact-form p{
    display: flex;
    gap: 4px;
  }
  /* Error box styling */
.error-box {
  color: #fff;
    font-size: 14px;
    font-weight: normal;
    background: #E74C3C;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 10px 0px;
    border-radius: 3px;
    margin-bottom: 18px;
}
 