.logo-carousel-section {
    background-color: #f5f5f5;
    padding: 50px 0;
  }
  .single-logo-item img {
    width: 176px;
    transition: 0.3s ease;
  } 
  .single-logo-item:hover img {
    opacity: 0.7;
    transform: scale(1.05);  
  }
  .logo-carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slick-slide {
    padding: 0 10px;  
  }
  .slick-track {
    display: flex;
  }
  